body{
	width: 600px;
	background-image: url(bg%20bw.jpg);
	background-size: contain;
	
	margin: 0 auto;
	margin-top: 30px;
	
}

.self {
	display: inline-block;
	width: 520px;
	height: 300px;
}

.picture {
	width: 200px;
	margin-top: 70px;
	border-radius: 200px;
	
	float: left;
	position: absolute;
	
	background-color: white;
	
	border: dashed 3px lightgrey;

	
}

.bubble {
	width: 20px;
	height: 20px;
	background-color: aquamarine;
	border-radius: 100px;
}

.bubble1 {
	margin-top: 80px;
	width: 15px;
	height: 15px;
	z-index: 1;
}

.bubble2 {
	margin-top: 50px;
}

.quote {
	width: 300px;
	height: 50px;
	background-color: aquamarine;
	border-radius: 20px;
	
	overflow: hidden;
}

.quotebubble {
	width: 370px;
	height: 100px;
	
	display: inline-flex;
	justify-content: space-between;
	float: right;
}

ul {
  	text-align:left;
  	list-style:none;
  	animation:20s linear 0s normal none infinite change;
	
	font-family: "Courier New", monospace;
}

ul li {
	position: relative;
	width: 300px;
	height: 50px;
}


@keyframes change {
  0%, 12%, 100%   {transform:translateY(0);}
  17%,29%  {transform:translateY(-25%);}
  34%,46%  {transform:translateY(-50%);}
  51%,63%  {transform:translateY(-75%);}
  68%,80%  {transform:translateY(-50%);}
  85%,97%  {transform:translateY(-25%);}
}

.contact {
	font-family: "Courier New", monospace;
	
	float: right;
}

h1 {
	font-size: 18pt;
	font-weight: 100;
}

h2 a {
	text-decoration: underline;
	color: black;
	font-weight: 100;
	font-size: 14pt;
	z-index: 1;
	padding: 2px;
}

h2 a:hover {
	color: coral;	
}

.movinghand {
	height: 25px;
	width: 120px;
}

.hand {
	margin-top: -10px;
	animation-name: hand;
	animation-duration: 1s;
	animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;	
}


@keyframes hand {
	0% {transform:translateY(0%);}
	100% {transform:translateY(-10%);}
}


h3 {
	width: 150px;
	text-align: center;
	border: 2px solid salmon;
}

h3 a {
	text-decoration: none;
	font-family: "Courier New", monospace;
	color: black;
	font-weight: 100;
	background-color: white;
}


.social {
    width: 100%;
    
    display: inline-flex;
    justify-content: space-around;
	
	margin-top: 250px;
}