body {
  background-image: url(images/bg%20bw.jpg);
  background-size:contain;
  background-color: #DF276B;
}



/*-----I N T R O-----*/
.intro {
	width: 600px;
	min-height: 100vh;
	
	
	margin: 0 auto;
	padding-top: 30px;
	
}

.intro .self {
	display: inline-block;
	width: 400px;
	height: 300px;
}

.picture {
	width: 200px;
	margin-top: 70px;
	border-radius: 100px;
	
	float: left;
	position: absolute;
	
	background-color: white;
	
	border: dashed 3px lightgrey;

	
}

.bubble {
	width: 20px;
	height: 20px;
	background-color: #89EAE0;
	border-radius: 100px;
}

.bubble1 {
	margin-top: 80px;
	width: 15px;
	height: 15px;
	z-index: 1;
}

.bubble2 {
	margin-top: 50px;
}

.quote {
	width: 200px;
	height: 50px;
	background-color: #89EAE0;
	border-radius: 15px;
	
	overflow: hidden;
}

.quotebubble {
	width: 250px;
	height: 100px;
	
	display: inline-flex;
	justify-content: space-between;
	float: right;
}

.intro ul {
	position: relative;
	top: -15px;
  text-align:left;
  list-style:none;
  animation:20s linear 0s normal none infinite change;
	
	
	font-family: 'Megrim', cursive;
}

.intro ul li {
	position: relative;
	width: 200px;
	height: 50px;
	line-height: 50px;
  text-align: center;
  
  margin-left: -40px;
}


@keyframes change {
  0%, 12%, 100%   {transform:translateY(0);}
  17%,29%  {transform:translateY(-50px);}
  34%,46%  {transform:translateY(-100px);}
  51%,63%  {transform:translateY(-150px);}
  68%,80%  {transform:translateY(-100px);}
  85%,97%  {transform:translateY(-50px);}
}

.contact {
	font-family: 'Raleway', sans-serif;
	
	float: right;
  margin-top: -50px;
}

.intro h1 {
  font-family: 'Raleway', sans-serif;
	font-size: 22pt;
	font-weight: 300;
}

 .info h1 {
  font-family: 'Raleway', sans-serif;
	font-size: 12pt;
	font-weight: 300;
}

h2 {
  margin-top: -15px;
}

h2 a {
	text-decoration: underline;
	color: black;
	font-weight: 100;
	font-size: 14pt;
	z-index: 1;
	padding: 2px;
}

h2 a:hover {
	color: coral;	
}
h2:hover + div.hand {
	animation-play-state: running;
}

.movinghand {
	height: 25px;
	width: 120px;
}

.hand {
	margin-top: -10px;
	animation-name: hand;
	animation-duration: 1s;
	animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
	animation-play-state: paused;
}


@keyframes hand {
	0% {transform:translateY(0%);}
	100% {transform:translateY(-10%);}
}


.social a {
  text-decoration: none;
}


.social {
  width: 100%;

  display: inline-flex;
  justify-content: space-around;
	
	margin-top: 40vh;
}

.btn {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    line-height: 14pt;;
    display: inline-block;
    padding: .45em 1em .5em;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    vertical-align: middle;
  
    background: #FB5B05;
    border: 2px solid #FB5B05;
    color: #fff;
  
    background: transparent;
    border-color: #FB5B05;
    color: #FB5B05;
    outline: none;
}
  
.btn:hover {
    background: #FB5B05;
    border: 2px solid #FB5B05;
    color: #fff;
}

.social .btn {
  width: 150px;
  text-align: center;
}



/*-----W O R K   P R E V I E W-----*/

.allworks {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 100vw;
  
  
}

.project {
  width: 80vw;
  height: 300px;
  margin: auto 0;
  margin-top: 50px;
  margin-bottom: 50px;
  
  display: flex;
  box-sizing: border-box;
  
  background-color: white;
  
}

a img {
  height: 300px;
  width: 300px;
}

.project_left a img {
  float: left;
  
}
.project_right a img {
  float: right;
  
}

.details {
  height: 300px;
  
  flex-direction: row;
  justify-content: center;
  align-content: center;
  
  text-align: center;
  
  margin: auto;
  padding: 0 50px 0 50px;
}

 

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 30pt;
  line-height: 60pt;
  margin: 0;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  
}

.project p {
  margin: 0 auto;
  text-align: left;
  height: 150px;
  font-size: 12pt; 
  
}

/*-----P R O J E C T-----*/


.info {
  display: inline-block;
  
}

.info .self {
  float: left;
}

.info .self img {
  width: 120px;
  height:120px;
  
	border-radius: 100px;
	
	background-color: white;
	
	border: dashed 3px lightgrey;
  
}

.contact_project p {
  font-size: 10pt;
  line-height: 10pt;
  
  margin: -6px 0 0 30px;
}

.contact_project a{
  color: #FB5B05;
  text-decoration: none;
}

.contact_project a:hover {
  color: #FB5B05;
  text-decoration: underline;
}

.contact_project h1{
  color: #FB5B05;
}

.contact_project {
  float: left;
  margin-left: -25px;
}

.allworks {
  display: inline-block;
  width: 90vw;
  padding: 0 5vw;
       
}

.works {
  /*background-color:rgba(255,255,255,0.8);*/

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
  max-width: 790px;
  
  padding-top: 30px;

    
}

.works img {
  width: 600px;
  height: 100%;
  
  min-width: 400px;
  height: 100%;
  
  padding-bottom: 50px;
}

.project_description {
  width: 300px;
  float: left;
  
  padding: 0 10px;

}

